* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Work Sans", sans-serif;
}
header {
  height: 808px;
  background-image: url(../images/banner/banner3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
section {
  margin-top: 130px;
}
.banner-value {
  width: 525px;
  color: #ffffff;
  padding: 216px 230px 166px;
  text-align: right;
  float: right;
}
.banner-title {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}
.banner-disc {
  line-height: 26px;
  margin-bottom: 32px;
}
.banner-btn {
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 25px;
  border: 0;
  border-radius: 5px;
}
/* my failure reasone */
.my-failures-reasons {
  /* clear: both; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 87px;
}
.failure-reason {
  width: 416px;
}
.section-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.setion-disc {
  color: #444343;
  line-height: 26px;
  margin-bottom: 16px;
}
.section-list {
  color: #444343;
  line-height: 26px;
}
.section-list i {
  color: #16d887;
}

/* my plans */
.my-plans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.four-plan {
  display: flex;
  gap: 85px;
  text-align: center;
  margin: 0 230px;
}
.single-plan h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  margin: 24px 0 16px;
}
.single-plan p {
  color: #737272;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
}
